body {

width: 100%;
height: 800px;
background: #424b51;
font-family: 'Questrial', sans-serif;
font-size: 22px;

}



header{
	   
	
	
}
/* Navigtion */
.navi{
	position:fixed;
	font-size: 20px;
	height: 75px;
	width: 100%;
	z-index:1;
	text-align: right;
	
}

.navi a{
	position:relative;
	text-decoration: none;
	color: #F3F3F3;
	
}


.navi ul{
	width: 100%;
	
	margin-top: 10px;
}

.navi li{
	font-weight:bold;
	list-style: none;
	padding-right: 25px; 
	display: inline;
	
}
.navi li:last-child{
	padding-right: 130px;
	
	
}
/*SLIDER*/
#slider{
	
	width: 100%;
	height: 740px;
	background-image: url("../img/test.jpg")
	
	
}
#content{
margin-top: -41px;
width: 100%;
height: 500px;
background-color: #EBEEED; 	
border-bottom:  #424b51 solid 2px;
z-index: 1;
}

#content h2{
	padding-top:50px;
	font-family: 'Questrial', sans-serif;
	text-align: center;
	font-size: 43px;
	text-transform: uppercase;
	
}



footer{
	
	width: 100%;
	height: 400px;
	position: absolute;
	background-color:#424B51;
	border-bottom: 2px solid #EEEEEE;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height:300px;
    width: 90%;
   visibility: ;
}

/*Content  Box*/
.con-box{
	background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #c7c9c8;
    margin-bottom: 30px;
	
	
}

/*EFFECT*/
img{
	
	
}

 #content img:hover{
	
	margin-left: auto;
    margin-right: auto;
	width:150px;
	height:150px;
	background-color:#FF6600;
	opacity: 0.4; 
	
 	transition-delay:0.5s;
	
	
}

.img-con{
	
	padding: 0;
    position: relative;
    
}

.img-left{
	
	margin-left: 14px;
    margin-right: -15px;
    overflow: hidden;
}

.img-overlay{
	
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    opacity: 0;
    padding-top: 50%;
    position: absolute;
    text-align: center;
    transition: opacity 0.3s ease-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 99;
	
}
.media-body p{
	
	 font-size: 14px;
    line-height: 19px;
	
}
.head{
	
	 margin: 0 0 5px;
	
}
.head a{
	text-decoration: none;
	color: black;
}

.head a:hover{
	text-decoration: blink;
	color: #4F8DB4;
	transition-delay:0.5s;
}



/*Contact*/
	
.test{
	width:100px;
	height:100px;
	background-color:#F3F3F3;
	border:1px;
	margin-left: auto;
    margin-right: auto;
    position:relative;
    font-size:100px;
    text-align:center;
	margin-top: 301px;
	border-radius: 15px;
	border:2px solid #424b51;
	z-index: 2;
}

/*JQUERRY AUfklappen*/



#open{
	
	width: 100%;
	height: 400px;
	background-color:#C7C9C8;
	border-bottom: 2px solid #424b51;
	margin-left: auto;
    margin-right: auto;
}
.pic-op{
	
	
	
}
.op-txt{
	font-size:12px;
	vertical-align: middle;	
	width:30%;
	height:350px;  
	margin-top: 25px;
	margin-left:40px;
	border-bottom: 1px solid #4F8DB4;
	border-right: 1px solid #4F8DB4;

	
}
.op-txt:last-child{
	border-bottom: 1px solid #4F8DB4;
	border-left: 1px solid #4F8DB4;
	border-right: none;
}

.op-txt:last-child:hover{
	
	border-left: none;
}
.op-gal{
	font-size:12px;
	vertical-align: middle;	
	width:30%;
	height:300px;  
	margin-top: 80px;
	margin-left:40px;

}
.op-txt:hover{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	border-bottom: 0px solid #4F8DB4;
	border-right: 0px solid #4F8DB4;
	
}
.op-txt p{
	padding: 5px 5px 5px 0px;
	text-align: justify;
	
}

.ref{
	margin-left: auto;
    margin-right: auto;
	vertical-align:middle;
	width: 100%;
	height: 400px;
	
.conbutton {
	padding: 5px 5px 5px 5px;
	border:1px solid #EBEEED;
	border-radius: 10px;	
	width: 100px;
	height: 30px;
	color:#EBEEED;
	font-size: 14px;
	text-align: center;
	text-indent:0;
	position: relative;
}
.conbutton:hover{
	background-color:#EBEEED;
	color: #000000;
	text-indent:0;
}

	
